extends layout

block content
	p
		| Sugestões podem ser enviadas para nossa página no Twitter
		a(href="http://twitter.com/changingbrazil")
			@changingbrazil
	p
		| Nossa página no GitHub com o código-fonte da página é
		a(href="http://github.com/changingbrazil/changingbrazil")
			|github.com/changingbrazil/changingbrazil

	a.twitter-timeline(href="https://twitter.com/search?q=%23VemPraRua+%23OGiganteAcordou", data-widget-id="347184600155557888")
		Tweets sobre "#VemPraRua #OGiganteAcordou"