extends layout

block content
	a.twitter-timeline(href="https://twitter.com/search?q=%23VemPraRua+%23OGiganteAcordou", data-widget-id="347184600155557888")
		Tweets sobre "#VemPraRua #OGiganteAcordou"