extends layout

block content
    div.isotope-item.content-block.discussion-item-expanded
        table
            tbody
                tr
                    td(rowspan=3)
                        img(src='/images/discussions/#{item.imageURL}')
                tr
                    td
                        div.discussion-title #{item.title}
                tr
                    td
                        div.discussion-description #{item.description}
    div.fb-comments-self