extends layout

block content
    div.contact-us
        | Espaço reservado para artigos de leitores. Mande seu texto para&nbsp;
        a(href='mailto:info@changingbrazil.org') info@changingbrazil.org
        | !
