extends layout

block content
	div.post.content-block
		p
			| Sugestões e conteúdo (fotos, vídeos, notícias etc) podem ser enviadas para nossa página no Twitter&nbsp;
			a(href="http://twitter.com/changingbrazil")
				@changingbrazil
			| &nbsp;Iremos atualizar o site o mais rápido possível.
		hr
		p
			| Nossa página no GitHub com o código-fonte da página é&nbsp;
			a(href="http://github.com/changingbrazil/changingbrazil")
				| github.com/changingbrazil/changingbrazil
			| &nbsp;O código é 100% aberto, portanto, você pode melhorá-lo (criando um fork do projeto) e nos enviar as alterações para que possamos incluí-la na versão original (por meio de um pull request).&nbsp;
		p
			| Para um guia simplificado de como fazer forks e pull requests no GitHub, visite a página a seguir:&nbsp;
			a(href="https://help.github.com/articles/fork-a-repo")
				| help.github.com/articles/fork-a-repo
