extends layout

block content
    div.content-block(style='text-align: justify')
        p
            | Quer ajudar a gente? Envie um email para&nbsp;
            a(href='mailto:info@changingbrazil.org') info@changingbrazil.org
            |  ou um tweet para&nbsp;
            a(href="http://twitter.com/changingbrazil") @changingbrazil.

        p Segue uma lista de coisas bacanas que você pode fazer.

        ul
            li
                b Divulgação.
                |  Conte para seus amigos sobre o #changingbrazil!

            li
                b Participação.
                |  Entre nos tópicos de discussão e deixe sua mensagem!
            li
                b Software.
                span  O código fonte do site pode ser baixado no&nbsp;
                    a(href="http://github.com/changingbrazil/changingbrazil") GitHub
                    | . Consertos e novos recursos submetidos serão avaliados e poderão ir ao ar.
                    | Para um guia simplificado de como usar GitHub, visite&nbsp;
                    a(href="https://help.github.com/articles/set-up-git") esta página
                    | .

            li
                b Design.
                span  Queremos imagens e sugestões de layout para termos um site bonito, limpo e fácil de usar.

            li
                b Artigos.
                |   Escreva para a nossa seção de Editorial Procuramos textos objetivos, racionais e fáceis de ler.

            li
                b Sugestões.
                |  Envie notícias, imagens, vídeos e temas de discussão. Envie também comentários e críticas sobre o próprio site.
