extends layout

block content
	p
		| Sugestões podem ser enviadas para nossa página no Twitter
		a(href="http://twitter.com/changingbrazil")
			@changingbrazil
	p
		| Nossa página no GitHub com o código-fonte da página é
		a(href="http://github.com/changingbrazil/changingbrazil")
			|github.com/changingbrazil/changingbrazil
