extends layout

block content
    div.post.content-block
        img.post-img(src='/images/logo.jpg')
        p Oi, pessoal!
        p Estamos assistindo a um momento muito importante no Brasil. Assistindo ao povo indo às ruas, para protestar contra tudo de ruim que o governo anda fazendo. Assistindo  a manifestações pacíficas, de centenas de milhares de pessoas, em várias cidades do país. Assistindo a um governo perplexo à insatisfação geral.
        p Insatisfação com o que exatamente? Com muita coisa! Alto custo do transporte urbano, inflação, corrupção, má gestão de recursos públicos, má qualidade da educação e da saúde, PEC 37, desrespeito aos direitos de mulheres e homosessuais, e muito mais!
        p Sim, sabemos muito bem o que está errado no Brasil. Agora é a hora de mudar.

        h4 Missões do Changing Brazil
        li Queremos estimular manifestações pacíficas. Não queremos incentivar a violência.
        li Queremos facilitar troca de ideias entre as pessoas. Não queremos impor nenhuma ideologia.
        li Queremos complementar o trabalho nas redes sociais. Não queremos subtitui-las.
        li Queremos a sua participação. Não queremos seu dinheiro.

        h4 Ajude o Changing Brazil!
        p Começamos este site com o mínimo possível, para que ele pudesse ajudar logo com os protestos. Trabalharemos nele o máximo que pudermos, acrescentando muitos recursos ao longo dos próximos dias.
        p E podemos crescer muito mais rápido com o apoio de todos vocês!
        p
            | Precisamos de muitas coisas: compartilhamentos, comentários, ideias de funcionalidades, links de notícias, fotos, vídeos, textos, artes gráficas e programadores! Veja a nossa página&nbsp;
            a(href='/helpus/') Quero Ajudar!
            |  para mais detalhes.
        p Ajude com o que puder, com o tempo que tiver. Assim como protestos gigantes são feitos de pequenas pessoas, nosso site pode fazer uma grande diferença com pequenas colaborações!
    br
    br

    div(style='text-align: center')
        a.twitter-timeline(href="https://twitter.com/search?q=%23VemPraRua+%23OGiganteAcordou", data-widget-id="347184600155557888")
            Tweets sobre "#VemPraRua #OGiganteAcordou"
