extends layout

block content
    each item in articles
        div
            span #{item.title}
            div
                #{item.content}
                div.fb-comments(data-href="http://example.com", data-width="470", data-num-posts="10")