doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="icon", type="image/png", href="/images/favicon.ico")
        meta(name="description", content="Um lugar para discutir ideias para melhorar o Brasil")
    body
        a(href="https://github.com/changingbrazil/changingbrazil")
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

        //- Facebook API root
        div#facebook-root

        table#layout-table
            tr
                td#top-bar-column
                    div
                        h3= title
            tr
                td#content-column
                    div#content-div
                        table
                            tbody
                                tr
                                    td(colspan=2, style='text-align: left; padding-bottom: 13px')
                                        //- Twitter button
                                        div(style='position: absolute; top: 0px; left: 240px;')
                                            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://changingbrazil.org", data-via="changingbrazil", data-lang="pt", data-hashtags="changingbrazil")
                                                Tweetar
                                        //- Facebook Like button
                                        div(style='position: absolute; top: 0px; left: 340px;')
                                            span.fb-like(data-href="http://changingbrazil.org", data-send="false", data-width="450", data-show-faces="false")
                                        div(style='display: inline-block; height: 30px; overflow: hidden')
                                tr
                                    td#sidebar-column
                                        nav#sidebar
                                            ul.nav.nav-list
                                                li
                                                    a(href='/')
                                                        i.icon-star
                                                        span Início
                                                li
                                                    a(href='/discussions/')
                                                        i.icon-comment
                                                        span Discussões
                                                li
                                                    a(href='/editorial/bem-vindo')
                                                        i.icon-pencil
                                                        span Editorial  
                                                //- li
                                                //-     a(href='/news/')
                                                //-         i.icon-bullhorn
                                                //-         span Notícias
                                                //- li
                                                //-     a(href='/photos')
                                                //-         i.icon-camera
                                                //-         span Fotos
                                                li
                                                    a(href='/videos/')
                                                        i.icon-film
                                                        span Vídeos
                                                li
                                                    a(href='/helpus')
                                                        i.icon-retweet
                                                        span Quero Ajudar!
                                    td#main-content-column
                                        block content
            tr
                td

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')

    script(src='/javascripts/general.js')
    script(src='/javascripts/discussions.js')
