doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href="https://github.com/changingbrazil/changingbrazil")
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
        div#facebook-root
        table#layout-table
            tr
                td#top-bar-column
                    div
                        h3= title
            tr
                td#content-column
                    div#content-div
                        table
                            tbody
                                tr
                                    td(colspan=2, style='text-align: left; padding-bottom: 13px')
                                        div(style='display: inline-block; height: 30px; overflow: hidden')
                                            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://changingbrazil.org", data-via="changingbrazil", data-lang="pt", data-hashtags="changingbrazil")
                                                Tweetar
                                            span.fb-like(data-href="http://changingbrazil.org", data-send="false", data-width="450", data-show-faces="false")
                                tr
                                    td#sidebar-column
                                        nav#sidebar
                                            ul.nav.nav-list
                                                li
                                                    a(href='/news/')
                                                        i.icon-star
                                                        span Início
                                                //- li
                                                //-     a(href='/photos')
                                                //-         i.icon-camera
                                                //-         span Fotos
                                                li
                                                    a(href='/discussions/')
                                                        i.icon-comment
                                                        span Discussões
                                                li
                                                    a(href='/videos/')
                                                        i.icon-film
                                                        span Vídeos
                                                li
<<<<<<< HEAD
                                                    a(href='/helpus/')
=======
                                                    a(href='/helpus')
>>>>>>> 6817ff7de6dd541d33e5b87af59a2e50d5930e92
                                                        i.icon-retweet
                                                        span Quero Ajudar!
                                    td#main-content-column
                                        block content
            tr
                td

    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/general.js')
