extends layout

block content
	div.content-block
		h1
			span #{newsItem.title}
		p #{newsItem.content}
	span.fb-like-self(data-href="", data-send="false", data-width="450", data-show-faces="true")
	div.fb-comments(data-href="#{fullUrl}", data-width="470", data-num-posts="10")