extends layout

block content
	div.content-block
		h1
			span #{newsItem.title}
		p #{newsItem.content}
	span.twitter-tweet-self(style="position: relative; bottom: 7px;")
	span.fb-send-self(style="position: relative; bottom: 10px;")
	span.fb-like-self(style="position: relative; left: 5px;")
	div.fb-comments-self