html,
body
{
    width: 100%;
    height: 100%;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > table
{
    width: 100%;
    height: 100%;
}

td
{
    vertical-align: top;
    padding: 0px;
}

#top-bar-column
{
    height: 45px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: #0a6;
    color: white;

    text-align: center;
}

#top-bar-column h3
{
    display: inline;
    font-size: 22px;
}

#top-bar-column > div
{
    width: 950px;
    margin: 0 auto;
}

#content-column
{
    padding-top: 30px
}

#content-div
{
    width: 950px;
    padding: 0px 20px;
    margin: 0 auto 30px;
}

#content-div table
{
    width: 100%;
}

#sidebar-column
{
    width: 200px;
    border-right: 1px solid #bbb;
}

#sidebar-column .nav-list
{
    width: 200px;
}

#main-content-column
{
    padding-left: 20px;
    width: 750px;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"]
{
    margin-right: 10px;
}

.section-title
{
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    font-size: 17px;
}

.section-content
{
    margin-bottom: 40px;
    padding: 15px;
    border-bottom: 1px solid #bbb;
}

.album img
{
    width: 200px;
    margin-right: 20px;
}

.content-block
{
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 30px;
}

/*********************************************************
*
* Posts
*
*********************************************************/

.post
{
    text-align: justify;
    font-size: 13px;

    padding: 20px;
    border: 1px solid #bbb;
}

.post p
{
    margin-bottom: 15px;
}

.post h4
{
    margin-top: 35px;
}

.post li
{
    margin-top: 10px;
}

/*********************************************************
*
* Videos
*
*********************************************************/

.video-item
{
    width: 660px;
}

.video-item > table
{
    table-layout: fixed;
}

.video-item td
{
    margin-bottom: 30px;
    width: 260px;
}

.video-item > table > tbody > tr:first-child > td
{
    padding-right: 20px;
    width: 380px;
}

.video-item iframe
{
    margin-right: 20px;
}

.video-item .video-title
{
    font-size: 17px;
    padding-bottom: 10px;
    height: 40px;
}

.video-item .video-date
{
    color: #999;
    padding-bottom: 15px;
}

.video-item .video-description
{
    height: 130px;
    overflow: hidden;
}

/*********************************************************
*
* Bootstrap modifications
*
*********************************************************/

a
{
    color: #0a6;
}

a:hover,
a:focus
{
    color: #084;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus
{
    background-color: #0a6;
}
